<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />   
</head>
<body>
    <header>
        <h1>Hello Yougnjin Kwak World !</h1>
        <h1>Youngjin Kwak</h1>
         <br />
        @Html.ActionLink("Home", "Index", "Home")
        @Html.ActionLink("Clients", "Index", "Clients")
        @Html.ActionLink("Brokerages", "Index", "Brokerages")
    <div>
        @RenderBody()
    </div>
    <footer>
Footer
    </footer>
</body>
</html>
